.accountContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTitle {
    margin-top: 15px;
    font-size: 50px;
}

.field {
    margin-top: 5px;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    width: 560px;
}

.formField {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.button {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #1D1D1D;
    border-radius: 25px;
    text-decoration: none;
    color: black !important;

    margin-top: 10px;

    cursor: pointer;

    outline: none;

    font-family: "Roboto", "serif";
    font-size: 26px;

    background-color: #F0F0F0;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #E0E0E0;
}

.button:active {
    background-color: #A0A0A0;
}

.formField label {
    font-size: 30px;
}

.rememberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.rememberMe label {
    font-size: 30px;
}

.formButton {
    display: flex;
    justify-content: center;
}

.error {
    margin-top: 10px;
    color: red;
    text-align: center;
}

.success {
    margin-top: 10px;
    color: green;
    text-align: center;
}