.button {
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #1D1D1D;
    border-radius: 25px;
    text-decoration: none;
    color: black !important;

    cursor: pointer;

    outline: none;

    font-family: "Roboto", "serif";
    font-size: 26px;

    background-color: #F0F0F0;
    padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #E0E0E0;
}

.button:active {
    background-color: #A0A0A0;
}