.headerContent {
    position: fixed;
    top: 0;
    z-index: 5;
    align-self: center;
    display: flex;
    padding: 0;
}

.headerComponent {
    z-index: 5;

    align-self: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;

    background-color: #ffd3a5;
    box-shadow: 0 0 16px #cccccc;

    border-bottom: 2px solid #000000;

    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

.logo {
    height: 70px;
}

.logoAndTitle {
    display: flex;
    flex-direction: row;

    align-items: center;

    margin-left: 10px;

    text-decoration: none;
}

.search {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.accountLogo {
    width: 55px;
    height: 55px;

    margin-right: 20px;
    cursor: pointer;
}

.toAccountLink {
    display: flex;

    align-items: flex-end;
}

.menuContainer {
    position: absolute;
    transform-origin: bottom;
    animation-duration: 2s;
    animation-iteration-count: 1;
    z-index: 1;


    right: 0;
    top: 0;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.moveDown {
    transform: translateY(70px);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.moveUp {
    transform: translateY(-70px);
    transition-duration: 0.5s;
    transition-timing-function: linear;
}