.center
{
    display: flex;
    flex-direction: column;
}

.block
{
    margin-top: 40px;
    width: 1164px;

    align-self: center;
}

.categoryTitle
{
    font-size: 44px;
    font-weight: bold;
}