@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to admin panel</h1>
    <p>
        <a asp-controller="Categories">Categories table</a>
    </p>
    <p>
        <a asp-controller="Category">Category table</a>
    </p>
    <p>
        <a asp-controller="Order">Order table</a>
    </p>
    <p>
        <a asp-controller="Orders">Orders table</a>
    </p>
    <p>
        <a asp-controller="Product">Product table</a>
    </p>
    <p>
        <a asp-controller="Review">Review table</a>
    </p>
    <p>
        <a asp-controller="Role">Role table</a>
    </p>
    <p>
        <a asp-controller="User">User table</a>
    </p>
</div>
